@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
.font-pangolin {
  font-family: "Pangolin", cursive;
}
body {
  background-image: url(photos/6.jpg);
  background-size: cover;  
}
