@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
.font-pangolin {
  font-family: "Pangolin", cursive;
}
body {
  background-image: url(photos/6.jpg);
  background-size: cover;
}
#cardi {
  background-color: rgba(240, 227, 227, 0.575);
  border-radius: 1rem;
}
#cardi:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
h1,h2 {
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
